Try with kairos what you did with Reddit.

Convert the .txt file to CSV first.

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# # Define the file path
# file_path = '/Users/hetavpatel/Desktop/Data Science/Grad DS Work/DSCI 789 Explainable AI/XAI-Cybersec/XAI-CyberSec/tgnnexplainer/kairosSample/2018-04-06 00_00_00.017083676_2018-04-06 00_15_50.177068871.txt'

# # Read the file and convert it into a pandas dataframe
# data = []
# with open(file_path, 'r') as file:
#     for line in file:
#         data.append(eval(line.strip()))

# df = pd.DataFrame(data)
# df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/hetavpatel/Desktop/Data Science/Grad DS Work/DSCI 789 Explainable AI/XAI-Cybersec/XAI-CyberSec/tgnnexplainer/kairosSample/2018-04-06 00_00_00.017083676_2018-04-06 00_15_50.177068871.txt'

In [ ]:
# #add index column in the dataframe as the first column
# df.insert(0, 'index', range(0, len(df)))

ValueError: cannot insert index, already exists

In [ ]:
# df.head()

,index,loss,srcnode,dstnode,srcmsg,dstmsg,edge_type,time
0,0,9.995773,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522987848907352178
1,1,9.863346,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522987304557085529
2,2,9.478456,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522987365057082186
3,3,9.478456,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522987425507088609
4,4,9.426462,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522987909497069685

So here, We're making certain assumptions in parallel to the reddit data.

u     - srcnode
i     - dstnode
label - edge_type
ts    - time
idx   - index + 1
e_idx - index + 1

Combine the dataset for the date 4/3 from the graph_4_3 folder.

In [34]:
import os
import pandas as pd

# Define the folder path
folder_path = '/Users/hetavpatel/Desktop/Data Science/Grad DS Work/DSCI 789 Explainable AI/XAI-Cybersec/XAI-CyberSec/tgnnexplainer/kairosSample/graph_4_3'

# Initialize an empty list to store data
combined_data = []

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.txt'):
        file_path = os.path.join(folder_path, filename)
        with open(file_path, 'r') as file:
            for line in file:
                combined_data.append(eval(line.strip()))

# Write the combined data to a giant text file
giant_text_file_path = os.path.join(folder_path, 'combined_data.txt')
with open(giant_text_file_path, 'w') as giant_file:
    for item in combined_data:
        giant_file.write(f"{item}\n")

# Convert the combined data to a pandas dataframe
df_combined = pd.DataFrame(combined_data)

# Save the dataframe to a CSV file
csv_file_path = 'combined_data_4_3_Kairos.csv'
df_combined.to_csv(csv_file_path, index=False)

print(f"Combined data saved to {csv_file_path}")

Combined data saved to combined_data_4_3_Kairos.csv

Keeping the reddit dataset in mind, let's make the final csv.

In [35]:
df_combined.head()

,loss,srcnode,dstnode,srcmsg,dstmsg,edge_type,time
0,9.701231,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777843641767977
1,9.701231,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777904161765267
2,9.400079,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777662211770375
3,9.400078,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777601631772334
4,9.357261,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522778146111758350

In [36]:
df_combined.shape

(3506176, 7)

In [37]:
df_combined.insert(0, 'index', range(0, len(df_combined)))

In [38]:
df_combined.head()

,index,loss,srcnode,dstnode,srcmsg,dstmsg,edge_type,time
0,0,9.701231,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777843641767977
1,1,9.701231,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777904161765267
2,2,9.400079,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777662211770375
3,3,9.400078,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522777601631772334
4,4,9.357261,198373,198244,{'netflow': '128.55.12.10:53'},{'subject': 'lsof'},EVENT_RECVFROM,1522778146111758350

Rename the columns of the dataset. I'm not making seperate functions and all to avoid the fuss and mess of converting the code exactly.

In [39]:
df_combined = df_combined.drop(columns=["loss", "srcmsg", "dstmsg"])

In [40]:
df_combined.head()

   index  srcnode  dstnode       edge_type                 time
0      0   198373   198244  EVENT_RECVFROM  1522777843641767977
1      1   198373   198244  EVENT_RECVFROM  1522777904161765267
2      2   198373   198244  EVENT_RECVFROM  1522777662211770375
3      3   198373   198244  EVENT_RECVFROM  1522777601631772334
4      4   198373   198244  EVENT_RECVFROM  1522778146111758350

In [41]:
columnsRehashed = {
    "index": "idx",
    "srcnode": "u",
    "dstnode": "i",
    "timestamp": "ts",
    "edge_type": "label",
}

In [42]:
df_combined.rename(columns=columnsRehashed, inplace=True)
df_combined.head()

   idx       u       i           label                 time
0    0  198373  198244  EVENT_RECVFROM  1522777843641767977
1    1  198373  198244  EVENT_RECVFROM  1522777904161765267
2    2  198373  198244  EVENT_RECVFROM  1522777662211770375
3    3  198373  198244  EVENT_RECVFROM  1522777601631772334
4    4  198373  198244  EVENT_RECVFROM  1522778146111758350

In [43]:
def reindex(df):
    df['idx'] = df.idx.values + 1
    df['e_idx'] = df.idx.values
    return df

In [44]:
reindex(df_combined)

             idx       u       i           label                 time    e_idx
0              1  198373  198244  EVENT_RECVFROM  1522777843641767977        1
1              2  198373  198244  EVENT_RECVFROM  1522777904161765267        2
2              3  198373  198244  EVENT_RECVFROM  1522777662211770375        3
3              4  198373  198244  EVENT_RECVFROM  1522777601631772334        4
4              5  198373  198244  EVENT_RECVFROM  1522778146111758350        5
...          ...     ...     ...             ...                  ...      ...
3506171  3506172  198244      31      EVENT_READ  1522792484671438207  3506172
3506172  3506173  198244      31      EVENT_READ  1522792484671438207  3506173
3506173  3506174  198244      31      EVENT_READ  1522792484671438207  3506174
3506174  3506175  198244      31      EVENT_READ  1522792484671438207  3506175
3506175  3506176  198244      31      EVENT_READ  1522792484671438207  3506176

[3506176 rows x 6 columns]

In [45]:
df_combined.head()

   idx       u       i           label                 time  e_idx
0    1  198373  198244  EVENT_RECVFROM  1522777843641767977      1
1    2  198373  198244  EVENT_RECVFROM  1522777904161765267      2
2    3  198373  198244  EVENT_RECVFROM  1522777662211770375      3
3    4  198373  198244  EVENT_RECVFROM  1522777601631772334      4
4    5  198373  198244  EVENT_RECVFROM  1522778146111758350      5